</article>
<%- include paging %>
<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-paginator.js"></script>
<script type="text/javascript">
    <% if(typeof(pageCount) !== 'undefined') { %>
    $(function(){
        //获得浏览器参数
        $.extend({
            getUrl: function(){
                var channelUrl, index, url;
                url = window.location.href;
                index = url.indexOf('?');
                if(index == -1){
                    channelUrl = url.slice(0, url.length);
                    //console.log('**'+channelUrl);
                }else{
                    channelUrl = url.slice(0, index);
                    //console.log(channelUrl);
                }
                //console.log(channelUrl);
                return channelUrl;
            }
        });

    //分页功能
        var paging = $('#paging');
        if(paging){
            var options = {
                currentPage: <%= page %>,
                totalPages: <%= pageCount %>,
                numberOfPages: <%= numberOfPages %>,
                pageUrl: function(type, paging, current) {
                    var url = $.getUrl() + '?' + "p=" + paging;
                    return url;
                }
            }
            paging.bootstrapPaginator(options);
        }
    })
    <% } %>
</script>
</body>
</html>